#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    background-color: gray;
}

body {
    background-color: black;
}

#gameStats {
    margin-top: 10px;
    font-family: monospace;
    background: #111;
    color: #0f0;
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
}


#restartButton {
    display: none;
    margin-top: 10px;
}

#pauseMenu {
    display:none; 
    position: absolute;
    top:40%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background:#222; 
    color:white; 
    padding:20px; 
    text-align:center; 
    font-family:sans-serif;
}